html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.7;
  box-sizing: border-box;
  background-color: black;
  color: #fff;
}

video {
  height: 30rem;
  width: 50rem;
  margin: 2rem;
}

#video-grid {
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
}
