*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.7;
  box-sizing: border-box;
  background-color: black;
  color: #fff;
}

video {
  height: 30rem;

  /* margin: 2rem; */
  flex: 1;
}

.video-container {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
}
.video-grid {
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.buttons-container {
  margin-bottom: 2rem;
  margin-top: 1rem;
  /* align-self: center; */
  /* flex: 1; */
  /* justify-content: center; */
}

.chat-button {
  padding: 2rem 3rem;
  cursor: pointer;
  /* font-size: 1.8rem; */
  border: none;
  outline: none;

  font-family: inherit;
  margin: 0rem 0.5rem;
}

.front-button {
  padding: 0.5rem 1rem;

  background-color: #2a4b7c;
  color: #fff;
}

.back-button {
  padding: 0.5rem 1rem;
  background-color: #009b77;
  color: #fff;
}

.record-button {
  background-color: #dd4124;
  padding: 0.5rem 1rem;

  color: #fff;
}

.stop-button {
  background-color: #efc050;
  padding: 0.5rem 1rem;

  color: #fff;
}
@media only screen and (max-width: 1300px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 1100px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 45%;
  }
}

@media only screen and (max-width: 1000px) {
  .video-grid {
    flex-direction: column;
    justify-content: stretch;
  }

  .video-container {
    width: 100%;
    margin-bottom: 2rem;
  }

  video {
    width: 100%;
  }
}
